ESCROW_ACCOUNTS_PASSWORD=

#Regtest
RSK_CHAIN_HOST='http://127.0.0.1:4454'
RSK_CHAIN_NETWORK_ID='33'
RSK_NUMBER_OF_CONFIRMATION_BLOCKS=12
RSK_NUMBER_OF_CONFIRMATIONS=1

BOT_TOKEN=''

# The max fee amount that the Bot will charge to the seller, 0.002 = 0.2%
MAX_FEE=0
# Percentage of the total amount that the bot will take as a fee, 0.7 = 70%
FEE_PERCENT=0.7

# Uncomment if running bot behind Tor service
# SOCKS_PROXY_HOST='socks5h://localhost:9050'

DB_USER='mongodb_user'
DB_PASS='mongodb_passwd'
DB_HOST='localhost'
DB_PORT='27017'
DB_NAME='p2plnbot'

# lightning hold invoice expiration time in seconds
WINDOW_TO_DEPOSIT_DEPOSIT_FUNDS_IN_ESCROW_ACCOUNT=600

CHANNEL=''
ADMIN_CHANNEL=''
HELP_GROUP=''

MAX_DISPUTES=4

# Order expiration time in seconds
ORDER_EXPIRATION_WINDOW=7200

# We try to pay again when the buyer invoice failed, in minutes
PENDING_PAYMENT_WINDOW=5

# Fiat currency rate API
FIAT_RATE_NAME=''
FIAT_RATE_EP=''
NODE_ENV='development'

# Expiration time for published order in seconds
ORDER_PUBLISHED_EXPIRATION_WINDOW=82800

# Minimum amount for a payment in satoshis
MIN_PAYMENT_AMT=1

# Maximum number of orders that a user can have published (PENDING) at the same time
MAX_PENDING_ORDERS=4

# winston Log level
LOG_LEVEL='debug'

# Attempts to pay the invoice again when the payment failed
PAYMENT_ATTEMPTS=2

# Here will go the disputes from non community orders
DISPUTE_CHANNEL=''

API3_DAPI_SERVER_CONTRACT_ADDRESS='0x3A09C138609F4b944EB7B8F0730e1972C243B33a'
API3_BTC_USD_BEACON_ID='0x5295f30436b2077a67c02001f62e8aabcc6688d87a8ce8db6f2b7a7cad4f0b01'
RIF_CONTRACT_ADDRESS='0x19f64674D8a5b4e652319F5e239EFd3bc969a1FE'
